<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <button><a href="/logout">logout</a></button>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
         {% for shows in show  %}
        <tr>
           
            <td>{{shows.id}}</td>
            <td>{{shows.name}}</td>
            <td>{{shows.email}}</td>
            <td>{{shows.phone}}</td> 
        </tr>
        {% endfor %}
    </table>
</body>
</html>
