<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paskon register</title>
</head>

<body>
    <div class="container">
        <center>
            <form action="/" method="post">
        <h1>Register Page</h1>
        Name<input type="text" name="name" placeholder="Enter Your Name" required><br><br>
        Email<input type="email" name="email" placeholder="Enter Your Email" required><br><br>
        Phone<input type="number" name="phone" placeholder="Enter Your Phone" required><br><br>
        Password<input type="text" name="password" placeholder="Enter Your Password" required><br><br>
        Confirm_Password<input type="text" name="pas" placeholder="Re-type Password" required><br><br>
        <!-- <input type="submit" value="submit"> -->

        <button type="submit">submit</button>
        <p>if you have account already<a href="/login">login here</a></p>
    </form>
    </center>
    </div>
</body>

</html>